body {
    text-align: center;
    background-color:black;
}
#table {
    margin: auto;
    height: 500px;
    width: 700px;
    background-color:green;
    border-radius: 40px;
}
#dealer-hand, #player-hand {
    width: 600px;
    height: 100px;
    background-color: green;
    margin: auto;
}  

#deal-button {
    margin-right: 20px;
}

#again-button {
    margin-left: 20px;
}

.message-box{
    width: 600px;
    height: 50px;
    background-color: grey;
    margin: auto;
}

.player {
    color: white;
}

img{
    height: 100px;

}